name: release

on:
  workflow_dispatch:
  push:
    tags:
      - v*.*.*

jobs:
  release:
    permissions:
      contents: write
      id-token: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true

  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Install corepack
        run: npm i -g corepack

      - name: Install dependencies
        run: yarn

      - name: Set NPM auth token
        run: yarn config set npmAuthToken ${NPM_PUBLISH_TOKEN}
        env:
          NPM_PUBLISH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}

      - name: Publish to NPM
        run: yarn npm publish
